{% extends 'common/basic.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
<!--EXTERNAL CSS-->
{% block css %}
<link rel="stylesheet" href="{% static 'css/adminprofile.css' %}">
{% endblock css %}
{% block body %}
<div class="container">
    <table>
        <tr>
            <td style="margin-top: -30px">
                <section>
                    <label for="fileToUpload">
                        <i class="fa fa-camera"></i>
                        <input type="file" id="fileToUpload" style="visibility:hidden;"
                            accept=".png,.jpg,jpeg,.PNG,.JPEG" name="fileToUpload"
                            onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
                    </label>
                    <img src="https://i.ibb.co/yNGW4gg/avatar.png" id="blah" alt="Avatar">
                </section>
                <h1>d</h1>
                <h3>{{user}}</h3>
            </td>
            <td style="box-shadow: 3px 3px 10px rgba(0,0,0,0.1)">
                <ul>
                    <li><b style="color: #000; font-size: 18px;">Full name</b> 
                        <input type="text" name="fname" id="fname" maxlength="100" value="{{user}}" style="margin-left: 30px;"
                            required /> 
                    </li>
                    <li><b style="color: #000; font-size: 18px;">Email</b> 
                        <input type="email" name="email" id="email" maxlength="150" style="margin-left: 30px;"
                            value="{{user.email}}"/>
                    </li>
                </ul>
            </td>
        </tr>
        
    </table>
</div>

{% endblock body %}


<!--JAVASCRIPT-->
{% block js %}
<script>
    function editdetails2() {
    }

    var close = document.getElementsByClassName("closebtn");
    var i;

    for (i = 0; i < close.length; i++) {
        close[i].onclick = function () {
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function () { div.style.display = "none"; }, 600);
        }
    }
</script>
{% endblock %}